/*
  ------------------------------------------------
  CSS 배경(Background) 스타일링
  ------------------------------------------------
*/

body {
  /* background-color:transparent;
  background-image:url("../images/cloud-design-patterns.svg");
  background-repeat:no-repeat;
  background-position:10px 40px;
  background-attachment:fixed; */
  background:transparent url("../images/cloud-design-patterns.svg") no-repeat 10px 40px fixed;
  background-size:100px 100px;
}

#css-background {
  margin-left:70px;
}

.bg-image {
  background-color:#000999;
  /* background-position:left top; x, y */
  background:url("../images/NewYork-US.jpg") no-repeat center -60px;
  background-size:cover;
}

.is-floral {
  background:#000 url("../images/oriental-floral-pattern.svg") center;
  background-size:150px;
}

.is-model {
  background:url("../images/model.jpg") center;
  background-size:100px;
}

.background-clip {
  box-sizing:border-box;
  border:20px solid rgba(0, 0, 0, .2);
  padding:20;
  background:url("../images/model.jpg") center;
  background-size:contain;
  /* background-clip:padding-box; */
  background-origin:padding-box;
}
